# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual environments
venv/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# React / Node
park-perfect/node_modules/
park-perfect/dist/
park-perfect/.vite/
park-perfect/.env
park-perfect/.env.local
park-perfect/.env.production

node_modules/
dist/