# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# React / Node
park-perfect/node_modules/
park-perfect/dist/
park-perfect/.env
park-perfect/.env.local
park-perfect/.env.production
park-perfect/.vite/deps/_metadata.json
park-perfect/.vite/deps/axios.js
park-perfect/.vite/deps/axios.js.map
park-perfect/.vite/deps/chunk-BoAXSpZd.js
park-perfect/.vite/deps/react-dom-BjPBJlww.js
park-perfect/.vite/deps/react-dom-BjPBJlww.js.map
park-perfect/.vite/deps/react-dom_client.js
park-perfect/.vite/deps/react-dom_client.js.map
park-perfect/.vite/deps/react-router-dom.js
park-perfect/.vite/deps/react-router-dom.js.map
park-perfect/.vite/deps/react.js
park-perfect/.vite/deps/react.js.map
park-perfect/.vite/deps/react_jsx-dev-runtime.js
park-perfect/.vite/deps/react_jsx-dev-runtime.js.map
park-perfect/.vite/deps/_metadata.json
