# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual environments
venv/
parkperfect_venv/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# React / Node
park-perfect/node_modules/
park-perfect/dist/
park-perfect/.vite/
park-perfect/.env
park-perfect/.env.local
park-perfect/.env.production

node_modules/
dist/
adminpanel/__pycache__/__init__.cpython-311.pyc
adminpanel/__pycache__/admin.cpython-311.pyc
adminpanel/__pycache__/apps.cpython-311.pyc
adminpanel/__pycache__/models.cpython-311.pyc
adminpanel/migrations/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/admin.cpython-311.pyc
parking/__pycache__/apps.cpython-311.pyc
parking/__pycache__/models.cpython-311.pyc
parking/migrations/__pycache__/__init__.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/migrations/__pycache__/__init__.cpython-311.pyc
adminpanel/__pycache__/__init__.cpython-311.pyc
adminpanel/__pycache__/admin.cpython-311.pyc
adminpanel/__pycache__/apps.cpython-311.pyc
adminpanel/__pycache__/models.cpython-311.pyc
adminpanel/migrations/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/admin.cpython-311.pyc
parking/__pycache__/apps.cpython-311.pyc
parking/__pycache__/models.cpython-311.pyc
parking/migrations/__pycache__/__init__.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/migrations/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
adminpanel/__pycache__/__init__.cpython-311.pyc
adminpanel/__pycache__/admin.cpython-311.pyc
adminpanel/__pycache__/apps.cpython-311.pyc
adminpanel/__pycache__/models.cpython-311.pyc
adminpanel/migrations/0002_alter_statisticsreport_options_and_more.py
adminpanel/migrations/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/__init__.cpython-311.pyc
parking/__pycache__/admin.cpython-311.pyc
parking/__pycache__/apps.cpython-311.pyc
parking/__pycache__/models.cpython-311.pyc
parking/migrations/__pycache__/__init__.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/migrations/__pycache__/__init__.cpython-311.pyc
adminpanel/__pycache__/models.cpython-311.pyc
adminpanel/__pycache__/apps.cpython-311.pyc
adminpanel/__pycache__/admin.cpython-311.pyc
